<div class="container">
  <h1 class="product-title">Detail product</h1>
  <div *ngFor="let pro of product" class="product-detail" appFavorite [node]="pro">
    <div *ngIf="pro.id == productId.id">
      <img [src]="productId.img" width="200px" height="220px" alt="" /><br />
      <p>Id product: {{ productId.id }}</p>
      <p>Name product: {{ productId.name }}</p>
      <p>Price: $ {{ productId.price }}</p>
      <p>Category: {{ productId.category }} clothes</p>
      <i *ngIf="showFavourite" class="far fa-heart like" [style.color]="pro.favourite ? 'red' : 'grey'"></i>
    </div>
  </div>
  <h1 class="product-title">Sản phầm cùng danh mục</h1>
  <div class="row product-list">
    <ul *ngFor="let pro of product" class="col-md-3" appFavorite [node]="pro">
      <div>
        <li *ngIf="productId.category === pro.category">
          <img [src]="pro.img" class="img-product" alt="" /><br />
          <a routerLink="/detail/{{ pro.id }}">Name product: {{ pro.name }}</a>
          <p>Price: $ {{ pro.price }}</p>
          <i *ngIf="showFavourite" class="far fa-heart like" [style.color]="pro.favourite ? 'red' : 'grey'"></i>
        </li>
      </div>
    </ul>
  </div>
</div>
