<div class="container page-main">
  <a class="product-category">Women</a>
  <div class="row product-list">
    <ul *ngFor="let pro of product" class="col-md-3" appFavorite [node]="pro">
      <div>
        <li *ngIf="pro.category == 'women'">
          <img [src]="pro.img" class="img-product" alt="" /><br />
          <a routerLink="/detail/{{ pro.id }}">Name product: {{ pro.name }}</a>
          <p>Price: $ {{ pro.price }}</p>
          <i
            *ngIf="showFavourite"
            class="far fa-heart like"
            [style.color]="pro.favourite ? 'red' : 'grey'"
          ></i>
        </li>
      </div>
    </ul>
  </div>
</div>
