<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h3 class="my-0 mr-md-auto font-weight-normal">BLACKED SHOP</h3>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/home">Home</a>
    <a class="p-2 text-dark" routerLink="/women">Women</a>
    <a class="p-2 text-dark" routerLink="/man">Man</a>
    <a class="p-2 text-dark" routerLink="/children">Children</a>
  </nav>
  <!-- <a class="btn btn-outline-secondary" routerLink="/register">Register</a> -->
  <a class="btn btn-outline-primary" routerLink="/login"><i class="fas fa-user-alt"></i></a>
</header>
