<div class="container">
  <header class="bg-white border-bottom shadow-sm">
    <div class="header-name">
      <a class="my-0 mr-md-auto font-weight-normal" routerLink="/home"><img src="../../../../assets/img/log02.png"
          width="200px" height="60px" alt=""></a>
    </div>
    <div class="header-nav">
      <nav class="nav-link">
        <a class="p-2 text-dark" routerLink="/home">Home</a>
        <a class="p-2 text-dark" routerLink="/women">Women</a>
        <a class="p-2 text-dark" routerLink="/man">Man</a>
        <a class="p-2 text-dark" routerLink="/children">Children</a>
        <a class="p-2 text-dark" routerLink="/dashboard">Dashboard</a>
        <a class="btn btn-outline-primary" *ngIf="!isLogin" routerLink="/login">Log in</a>
        <a class="btn btn-outline-primary" *ngIf="isLogin" (click)="logOut()">Log out</a>
      </nav>
    </div>
  </header>
</div>
